.l-content
  %section.mypage-user-icon
    = link_to "https://www.mercari.com/jp/mypage/" do
      %figure
        = image_tag "member_photo.png", size: "60x60"
      %h2.bold 織戸健太郎
      .mypage-user-icon__mypage-number
        %div
          評価
          %span.bold 0
        %div
          出品数
          %span.bold 0
  %section.mypage-tab-container-notification-todo
    %ul.mypage-tabs
      %li.active
        %h3
          = link_to "お知らせ", "https://www.mercari.com/jp/mypage/"
      %li
        %h3
          = link_to "やることリスト", "https://www.mercari.com/jp/mypage/"
    .tab-content
      %ul.tab-content__mypage-item-list.tab-pane.active
        %li.mypage-item-not-found.bold 現在、お知らせはありません
      %ul.tab-content__mypage-item-list.tab-pane
        %li.mypage-item-not-found.bold 現在、やることリストはありません
  %section.mypage-tab-container
    %h2.mypage-tab-container__mypage-tab-head.bold 購入した商品
    %ul.mypage-tabs
      %li.active
        %h3
          = link_to "取引中", "https://www.mercari.com/jp/mypage/"
      %li
        %h3
          = link_to "過去の取引", "https://www.mercari.com/jp/mypage/"
    .tab-content
      %ul.tab-content__mypage-item-list.tab-pane.active
        %li.mypage-item-not-found.bold 取引中の商品がありません
      %ul.tab-content__mypage-item-list.tab-pane
        %li.mypage-item-not-found.bold 過去に取引した商品がありません
