.l-side
  %nav.l-side__mypage-nav
    %ul.l-side__mypage-nav__list
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item active" do
          = fa_icon "angle-right"
          %span マイページ
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span お知らせ
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span やることリスト
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span いいね！一覧
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 出品する
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 出品した商品 - 出品中
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 出品した商品 - 取引中
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 出品した商品 - 売約済み
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 購入した商品 - 取引中
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 購入した商品 - 過去の取引
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span ニュース一覧
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 評価一覧
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span ガイド
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span お問い合わせ
    %h3.l-side__mypage-nav__head 売上・ポイント
    %ul.l-side__mypage-nav__list
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 売上・振込申請
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span ポイント
    %h3.l-side__mypage-nav__head 設定
    %ul.l-side__mypage-nav__list
      %li
        = link_to user_profile_path(current_user.id), class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span プロフィール
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 住所変更
      %li
        = link_to user_cards_path(current_user.id), class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 支払い方法
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span メール/パスワード
      %li
        = link_to user_identification_path(current_user.id), class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 本人情報
      %li
        = link_to "https://www.mercari.com/jp/mypage/", class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span 電話番号の確認
      %li
        = link_to logout_path(current_user.id), class: "l-side__mypage-nav__list__item" do
          = fa_icon "angle-right"
          %span ログアウト
