%main.single-main
  .login__panel
    .login__no-account
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", "https://www.mercari.com/jp/signup/"
    .login__form__inner
      %button.btn-default.btn-sns-facebook
        = fa_icon "facebook-official"
        %span Facebookでログイン
      %button.btn-default.btn-sns-google
        = fa_icon "google-plus"
        %span Googleでログイン
    %form
      .login__form__inner
        .form__group
          %input.login__input-text.input-default{placeholder: "メールアドレス"}
        .form__group
          %input.login__input-text.input-default{placeholder: "パスワード"}
        .form__group
          .login__captcha
            = image_tag "temp_recaptcha.png", size: "300x78"
        %button.btn-default.login-submit ログイン
        = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/"
