.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"
  %main.l-container.clearfix
    .l-content.clearfix
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              = link_to "出品中", "/users/listing"
          %li
            %h3
              取引中
          %li
            %h3
              売却済
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li
              = link_to '/', {class: 'mypage-item-link'}
                %figure
                  = image_tag '/assets/default-header-logo.svg', {class: 'is-higher-widthlazyloaded'}
                  .mypage-item-body.show-stock-item
                    .mypage-item-text 写真
                    %div
                      %span.listing-item-count
                        %i.icon-like-border
                        %span 0
                      %span.listing-item-count
                        %i.icon-message
                        %span 0
                  = fa_icon 'angle-right'
      %ul.mypage-history.pager
        %li.pager-prev.pager-cell
          = link_to '/'
            = fa_icon 'angle-left'
        %li.pager-next.pager-cell
          = link_to '/'
            = fa_icon 'angle-right'
    = render partial: "users/show/mypage-side"
  = render partial: "/default/default-footer"
