.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"
  %main.l-container.clearfix
    .l-content.clearfix
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              = link_to "出品中", user_listing_index_path(current_user.id)
          %li
            %h3
              = link_to "取引中", "https://www.mercari.com/jp/mypage/listings/in_progress/"
          %li
            %h3
              = link_to "売却済", "https://www.mercari.com/jp/mypage/listings/completed/"
        .tab-content
          - if @items
            %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
              - @items.each do |item|
                %li
                  = link_to edit_item_path(item), {class: 'mypage-item-link'} do
                    %figure
                      = image_tag = image_tag item.images.first.image_url.url, class: 'is-higher-widthlazyloaded'
                    .mypage-item-body.show-stock-item
                      %p.mypage-item-text
                        = item.name
                      %div
                        %span.listing-item-count
                          = fa_icon 'heart'
                          %span 0
                        %span.listing-item-count
                          = fa_icon 'comment'
                          %span 0
                    = fa_icon 'angle-right', {class: 'icon-arrow-right'}
          - else
            %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
              %li.mypage-item-not-found
                出品中の商品はありません
      %ul.mypage-history.pager
        = paginate @items
    = render partial: "users/show/mypage-side"
  = render partial: "/default/default-footer"
  = render "default/footer-sell-btn"
