.default-container
  = render partial: "/default/default-header"
  = render partial: "users/show/bread-crumbs"
  %main.l-container.clearfix
    .l-content.clearfix
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              = link_to "出品中", user_listing_index_path(current_user.id)
          %li
            %h3
              取引中
          %li
            %h3
              売却済
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li
              = link_to "/", {class: 'mypage-item-link'} do
                %figure
                  = image_tag 'default-header-logo.svg', {class: 'is-higher-widthlazyloaded'}
                .mypage-item-body.show-stock-item
                  %p.mypage-item-text
                    写真
                  %div
                    %span.listing-item-count
                      = fa_icon 'heart'
                      %span 0
                    %span.listing-item-count
                      = fa_icon 'comment-alt'
                      %span 0
                = fa_icon 'angle-right'
          / = paginate @items
      / %ul.mypage-history.pager
      /   %li.pager-prev.pager-cell
      /     = link_to '/' do
      /       = fa_icon 'angle-left'
      /   %li.pager-next.pager-cell
      /     = link_to '/' do
      /       = fa_icon 'angle-right'
    = render partial: "users/show/mypage-side"
  = render partial: "/default/default-footer"
