%main.single-main
  %section.l-single__container
    %h2.l-single__head 新規会員登録
    .l-single__inner
      .l-single__content
        = link_to new_user_registration_path, class: "btn-default btn-mail" do
          = fa_icon "envelope"
          %span メールアドレスで登録
        %button.btn-default.btn-sns-facebook
          = link_to "Facebookで登録", user_facebook_omniauth_authorize_path
          = fa_icon "facebook-official"
        %button.btn-default.btn-sns-google
          = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path
          = fa_icon "google-plus"
