.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon
        %figure
          = image_tag "mercari_icon.png"
        %ul.clearfix
          %li
            = image_tag "apple-badge.svg"
          %li
            = image_tag "play-badge.svg"
    .download
      = image_tag "download_content_pc.png"

%footer.global-footer
  %nav
    %ul
      %li.footer-cell
        %h2.footer-head
          メルカリについて
        %ul
          %li
            %a 会社概要（運用会社）
          %li
            %a プライバシーポリシー
          %li
            %a メルカリ利用規約
          %li
            %a メルカリ利用規約・有償ポイントに関する利用規約
          %li
            %a あんしんスマホサポート制度に関する利用規約
          %li
            %a コンプライアンスポリシー
          %li
            %a 個人データの安全管理に係る基本方針
          %li
            %a 特定商取引に関する表記
          %li
            %a 資金決済法に基づく表示
          %li
            %a 法令順守と犯罪抑止のために
          %li
            %a 採用情報

      %li.footer-cell
        %h2.footer-head
          メルカリを見る
        %ul
          %li
            %a カテゴリー一覧
          %li
            %a ブランド一覧
          %li
            %a 出品地域一覧
          %li
            %a 公式ブログ
          %li
            %a 公式Twitter
          %li
            %a 公式Facebook

      %li.footer-cell
        %h2.footer-head
          ヘルプ＆ガイド
        %ul
          %li
            %a メルカリガイド
          %li
            %a メルカリロゴ利用ガイドライン
          %li
            %a お知らせ
          %li
            %a らくらくメルカリ便とは
          %li
            %a ゆうゆうメルカリ便とは
          %li
            %a 大型らくらくメルカリ便とは
          %li
            %a 車体取引ガイド
          %li
            %a 返品・返金ポリシー
          %li
            %a メルカリあんしん・あんぜん宣言！
          %li
            %a 偽ブランド品撲滅への取り組み
          %li
            %a メルカリボックス

      %li.footer-cell
        %h2.footer-head
          国
        %ul.footer-nav-lang
          %li
            %a
              = image_tag "icn-us-flag.svg"
              United States
          %li
            %a
              = image_tag "icn-uk-flag.svg"
              United Kingdom
          %li
            %a
              = image_tag "icn-jp-flag.svg"
              日本

  .footer-logo
    = image_tag "logo-white.svg", class: 'image'
  %p.footer-copyright
    © 2019 Mercari
