.default-container
  = render partial: "/default/default-header"
  %nav.bread-crumbs
    - breadcrumb :user, @user
    = breadcrumbs separator: "#{content_tag(:i, '', class:'fa fa-angle-right')}"
  = render partial: "users/show/show-mypage-main"
  = render partial: "/default/default-footer"
  = render "default/footer-sell-btn"
