.default-container
  = render partial: "default/default-header"
  = render partial: "users/show/bread-crumbs"
  %section.item-box-container.l-single-container
    %h1.item-name #{@item.name}
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage
              .owl-item.active
                .owl-item-inner
                  =image_tag(@images[0].image_url, style: "opacity: 1;",class: "owl-lazy")

          -if @images.length < 5
            .owl-dots
              - @images.each do |image|
                .owl-dot
                  %span
                  .owl-dot-inner
                    =image_tag(image.image_url)
          -else
            .owl-dots.item-photo-expanded
              - @images.each do |image|
                .owl-dot.item-photo-expanded
                  %span
                  .owl-dot-inner
                    =image_tag(image.image_url)

      .item-price-box.text-center.visible-sp
        %span.item-price.bold #{converting_to_jpy(@item.price)}
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      / %section.visible-sp
      /   = link_to "購入画面に進む",purchase_items_path(id: @item.id),class: "item-buy-btn f18-24"

      %table{class: "#{(@images.length < 6)? 'item-detail-table' : 'item-detail-table item-photo-expanded'}"}
        %tbody
          %tr
            %th 出品者
            %td
              = link_to user_path(@seller.id) do
                #{@seller.nickname}
              %div
                .item-user-ratings
                  =fa_icon "smile-o"
                  %span #{@seller.rate_good}
                .item-user-ratings
                  =fa_icon "meh-o"
                  %span #{@seller.rate_normal}
                .item-user-ratings
                  =fa_icon "frown-o"
                  %span #{@seller.rate_bad}
          %tr
            %th カテゴリー
            %td
              - @categories.each_with_index do |category,index|
                - if index == 0
                  %a{href: "https://www.mercari.com/jp/category/1/"}
                    %div #{category.name}
                - else
                  %a{href: "https://www.mercari.com/jp/category/20/"}
                    .item-detail-table-sub-category
                      =fa_icon "angle-right"
                      #{category.name}

          %tr
            %th ブランド
            %td
              %a{href: "https://www.mercari.com/jp/brand/539/"}
                %div
                - if @brand.present?
                  #{@brand.name}
          -if @item.size.present?
            %tr
              %th サイズ
              %td #{@item.size_i18n}
          %tr
            %th 商品の状態
            %td #{@item.item_condition_i18n}
          %tr
            %th 配送料の負担
            %td #{@item.delivery_burden_i18n}
          %tr
            %th 配送の方法
            %td #{@item.shipping_method_i18n}
          %tr
            %th 配送元地域
            %td
              %a{href: "https://www.mercari.com/jp/area/28/"} #{@item.area_i18n}
          %tr
            %th 発送日の目安
            %td #{@item.delivery_date_i18n}
    .item-price-box.text-center
      %span.item-price.bold #{converting_to_jpy(@item.price)}
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    / = link_to "購入画面に進む",purchase_items_path(id: @item.id),class: "item-buy-btn f18-24"
    .item-description.f14-18
      %p.item-description-inner
        #{@item.text}
  .listing-item-change-box.l-single-container
    = link_to "商品の編集", edit_sell_path, class: 'btn-default btn-red'
    %p.text-center or
    = link_to "出品を一旦停止する", "/", class: 'btn-default btn-gray'
    %button.btn-default.btn-gray.modal-open#open この商品を削除する
    #overlay
    .modal
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold
            確認
            %br
          削除すると二度と復活できません。
          %br
          削除する代わりに停止することもできます。
          %br
          %br
          本当に削除しますか？
        .clearfix
          #button.modal-btn#close キャンセル
          = link_to "削除する", "/items/#{@item.id}", method: :delete, class: 'modal-btn', id: 'destroy'

  .item-detail-message
    .message-content
      =form_tag "",class: "message-form", method:"POST"
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.textarea-default{name: "body", type: "text", value: ""}
      %button.message-submit.btn-default.btn-gray
        %span コメントする
