.default-container
  = render "default/default-header"
  %main.white
    %section.top-carousel
      .owl-stage-outer
        .owl-stage
          .owl-item
            %a.top-banner
      .owl-nav
        .owl-prev
        .owl-next
      .owl-dots

    = render "items/pickup_category"
    = render "items/pickup_brand"
  = render "default/default-footer"
  = render "default/footer-sell-btn"
