.header
  .top-bar
    = image_tag 'logo.svg', size: "134x36", class: "top-bar__icon"
    %form.top-bar__form
      %input.top-bar__form__search-bar{ type: "text", placeholder: "キーワードから探す"}
      = fa_icon "search"
  .bottom-bar
    %nav.bottom-bar__left
      %ul.bottom-bar__left__list
        %li.bottom-bar__left__list__cate
          %h2.bottom-bar__left__list__cate__h2
            = link_to "カテゴリーから探す", "https://www.mercari.com/jp/", class: "bottom-bar__left__list__cate__h2__link"
        %li.bottom-bar__left__list__brand
          %h2.bottom-bar__left__list__brand__h2
            = link_to "ブランドから探す", "https://www.mercari.com/jp/", class: "bottom-bar__left__list__brand__h2__link"
    %div.bottom-bar__right
      %ul.bottom-bar__right__list
        %li.bottom-bar__right__list__mypage
          = link_to "https://www.mercari.com/jp/", class: "bottom-bar__right__list__mypage__link" do
            %figure.bottom-bar__right__list__mypage__link__figure
              %div.bottom-bar__right__list__mypage__link__figure__div
                = image_tag 'member_photo.png', class: "bottom-bar__right__list__mypage__link__figure__div__image"
            %div.bottom-bar__right__list__mypage__link__mypage-div マイページ
        %li.bottom-bar__right__list__notice
          = link_to "https://www.mercari.com/jp/", class: "bottom-bar__right__list__notice__link" do
            = fa_icon "bell"
            %span お知らせ
        %li.bottom-bar__right__list__todo
          = link_to "https://www.mercari.com/jp/", class: "bottom-bar__right__list__todo__link" do
            = fa_icon "check"
            %span やることリスト
  %nav.bread-crumbs
    %ul.bread-crumbs__lists
      %li.bread-crumbs__lists__1st
        = link_to "メルカリ", "https://www.mercari.com/jp/", class: "bread-crumbs__lists__1st__link"
        = fa_icon "angle-right", class: "bread-crumbs__lists__1st__icon"
      %li.bread-crumbs__lists__2nd
        %span マイページ
