.single-container
  %header.single-header
    %h1
      = link_to '/' do
        = image_tag 'default-header-logo.svg'

  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品情報の入力
          = form_for @item, url: {controller: 'sells', action: 'create'}, html: {class: 'sell-form'} do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              .sell-dropbox-container.clearfix.state-image-number-10
                = f.fields_for :images, html: {class: 'sell-dropbox-container clearfix state-image-number-10'} do |i|
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                  = i.label :image_url, class: 'sell-upload-drop-box have-item-0' do
                    = i.file_field :image_url, class: 'sell-upload-drop-file'
                    %pre.visible-pc
                      ドラッグアンドドロップ
                      または
                      クリックしてファイルをアップロード
            .sell-content
              .form-group
                = f.label :name do
                  商品名
                  %span.form-require 必須
                %div
                  = f.text_field :name, class: 'input-default', placeholder: '商品名（必須 40文字まで）'
              .form-group
                = f.label :text do
                  商品の説明
                  %span.form-require 必須
                = f.text_area :text, class: 'textarea-default', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  = f.label :category_ids do
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.collection_select :category_ids, Category.where(ancestry: "0"), :id, :name, {prompt: "---"}, {class: 'select-default', multiple: true} do
                        = fa_icon 'angle-down'
                .form-group
                  = f.label :size do
                    サイズ
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :size, {xxs: 'xxs', xs: 'xs', s: 's', m: 'm', l: 'l', xl: 'xl', xxl: 'xxl', xxxl: 'xxxl', xxxxl: 'xxxxl', free: 'free'}, {prompt: "---"}, {class: 'select-default'}
                      = fa_icon 'angle-down'
                = f.fields_for 'brand_attributes', @item.brand do |brand_f|
                  .form-group
                    = brand_f.label :name do
                      ブランド
                      %span.form-arbitrary 任意
                    %div
                      = brand_f.text_field :name, class: 'input-default', placeholder: '例）シャネル'
                .form-group
                  = f.label :item_condition do
                    商品の状態
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :item_condition, {}, {prompt: "---"}, {class: 'select-default'} do
                        %option{value: 'news'} 新品、未使用品
                        %option{value: 'unused'} 未使用に近い
                        %option{value: 'no_stain'} 目立った傷や汚れなし
                        %option{value: 'little_stain'} やや傷や汚れあり
                        %option{value: 'scrached'} 傷や汚れあり
                        %option{value: 'bad'} 全体的に状態が悪い
                      = fa_icon 'angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              = link_to '?', 'https://www.mercari.com/jp/help_center/article/68/', class: 'form-question'
              .sell-form-box
                .form-group
                  = f.label :delivery_burden do
                    配送料の負担
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :delivery_burden, {}, {prompt: "---"}, {class: 'select-default'} do
                        %option{value: 'include'} 送料込み（出品者負担）
                        %option{value: 'arrival'} 着払い（購入者負担）
                      = fa_icon 'angle-down'
                .form-group
                  = f.label :shipping_method do
                    配送の方法
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :shipping_method, {}, {prompt: "---"}, {class: 'select-default'} do
                        %option{value: 'other'} 未定
                        %option{value: 'merukari'} らくらくメルカリ便
                        %option{value: 'yumail'} ゆうメール
                        %option{value: 'letterpack'} レターパック
                        %option{value: 'normal'} 普通郵便（定形、定形外）
                        %option{value: 'kuroneko'} クロネコヤマト
                        %option{value: 'yupack'} ゆうパック
                        %option{value: 'clickpost'} クリックポスト
                        %option{value: 'yupaket'} ゆうパケット
                      = fa_icon 'angle-down'
                .form-group
                  = f.label :area do
                    発送元の地域
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :area, {}, {prompt: "---"}, {class: 'select-default'} do
                        %option{value: 'hokkaido'} 北海道
                        %option{value: 'aomori'} 青森県
                        %option{value: 'iwate'} 岩手県
                        %option{value: 'miyagi'} 宮城県
                        %option{value: 'akita'} 秋田県
                        %option{value: 'yamagata'} 山形県
                        %option{value: 'fukushima'} 福島県
                        %option{value: 'ibaraki'} 茨城県
                        %option{value: 'tochigi'} 栃木県
                        %option{value: 'gunma'} 群馬県
                        %option{value: 'saitama'} 埼玉県
                        %option{value: 'chiba'} 千葉県
                        %option{value: 'tokyo'} 東京都
                        %option{value: 'kanagawa'} 神奈川県
                        %option{value: 'nigata'} 新潟県
                        %option{value: 'toyama'} 富山県
                        %option{value: 'ishikawa'} 石川県
                        %option{value: 'fukui'} 福井県
                        %option{value: 'yamanashi'} 山梨県
                        %option{value: 'nagano'} 長野県
                        %option{value: 'gifu'} 岐阜県
                        %option{value: 'shizuoka'} 静岡県
                        %option{value: 'aichi'} 愛知県
                        %option{value: 'mie'} 三重県
                        %option{value: 'shiga'} 滋賀県
                        %option{value: 'kyoto'} 京都府
                        %option{value: 'osaka'} 大阪府
                        %option{value: 'hyogo'} 兵庫県
                        %option{value: 'nara'} 奈良県
                        %option{value: 'wakayama'} 和歌山県
                        %option{value: 'tottori'} 鳥取県
                        %option{value: 'shimane'} 島根県
                        %option{value: 'okayama'} 岡山県
                        %option{value: 'hiroshima'} 広島県
                        %option{value: 'yamaguchi'} 山口県
                        %option{value: 'tokushima'} 徳島県
                        %option{value: 'kagawa'} 香川県
                        %option{value: 'ehime'} 愛媛県
                        %option{value: 'kochi'} 高知県
                        %option{value: 'fukuoka'} 福岡県
                        %option{value: 'saga'} 佐賀県
                        %option{value: 'nagasaki'} 長崎県
                        %option{value: 'kumamoto'} 熊本県
                        %option{value: 'oita'} 大分県
                        %option{value: 'miyazaki'} 宮崎県
                        %option{value: 'kagoshima'} 鹿児島県
                        %option{value: 'okinawa'} 沖縄県
                        %option{value: 'undecided'} 未定
                      = fa_icon 'angle-down'
                .form-group
                  = f.label :delivery_date do
                    配送までの日数
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :delivery_date, {}, {prompt: "---"}, {class: 'select-default'} do
                        %option{value: 'a_day'} 1~2日で発送
                        %option{value: 'two_day'} 2~3日で発送
                        %option{value: 'four_day'} 4~7日で発送
                      = fa_icon 'angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300~9,999,000)
              = link_to '?', 'https://www.mercari.com/jp/help_center/article/64/', class: 'form-question'
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          = f.text_field :price, class: 'input-default', placeholder: '例）300'
                  %li.clearfix
                    .l-left
                      販売手数料(10%)
                    .l-right
                      ー
                  %li.clearfix.bold
                    .l-left
                      販売利益
                    .l-right
                      ー
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to '禁止されている出品', 'https://www.mercari.com/jp/help_center/getting_started/prohibited_items/'
                  、
                  = link_to '行為', 'https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/'
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to '偽ブランドの販売', 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/'
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to '加盟店規約', 'https://www.mercari.com/jp/seller_terms/'
                  に同意したことになります。
              = f.submit '出品する', class: 'btn-default btn-red'
              = link_to 'もどる', '/users', class: 'btn-default btn-gray'
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
        %li
          = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
        %li
          = link_to '特定取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
    = link_to '/', class: 'single-footer-logo' do
      = image_tag 'logo-gray.svg'
    %small © 2019 Mercari
